section#about
  .info-wrapper
    h1 ÜBER UNS
    p.bold-text Zivilgesellschaftliches Netzwerk, um 
      span.italic hate crime
    ul
      li sichtbar zu machen,
      li sowie effektiv &
      li präventiv entgegenzutreten.

    p Im Rahmen des EU-Projekts V-START – Victim Support Through Awareness-Raising and neTworking hatten wir, Vertreter*innen zivilgesellschaftlicher Organisationen und Initiativen, die in den Bereichen Antidiskriminierung, Opferschutz und Menschenrechte tätig sind, die Möglichkeit, uns zu vernetzen und folglich zusammenzuschließen, um eine gestärkte Lobby für von
        span.italic &nbsp;hate crime&nbsp;
        span Betroffene zu bilden. 
    p Das Netzwerk bezieht sich auf die praxisorientierte
      span.italic &nbsp;hate crime&nbsp;
      span Definition, die vom OSZE-Büro für demokratische Institutionen und Menschenrechte (ODIHR) formuliert wurde, welche besagt:
    p.block-quote.italic Hate crimes sind kriminelle Handlungen mit einem Vorurteilsmotiv gegen bestimmte Personengruppen.
    p Das Netzwerk betrachtet weitergehende Formulierungen der von ODIHR geprägten Definition kritisch und einigt sich darauf, der österreichischen Gesetzgebung entsprechend,
      span.italic &nbsp;hate crime&nbsp;
      span als Straftat mit Vorurteilsmotiv zu erkennen, die sich gegen eine der in § 283 Abs. 1 Z 1 genannten Gruppen von Personen – zugeschrieben oder tatsächlich – oder Mitglieder einer solchen Gruppe ausdrücklich wegen der Zugehörigkeit zu dieser Gruppe richtet. Im Verständnis des Netzwerkes richten sich sogenannte
        span.italic &nbsp;hate crimes&nbsp;
        span (Hassverbrechen, Vorurteilsdelikte) dementsprechend
    p.block-quote.italic gegen eine Kirche oder Religionsgesellschaft oder eine andere nach den vorhandenen oder fehlenden Kriterien der Rasse, der Hautfarbe, der Sprache, der Religion oder Weltanschauung, der Staatsangehörigkeit, der Abstammung oder nationalen oder ethnischen Herkunft, des Geschlechts, einer körperlichen oder geistigen Behinderung, des Alters oder der sexuellen Ausrichtung definierte Gruppe von Personen oder gegen ein Mitglied einer solchen Gruppe ausdrücklich wegen der Zugehörigkeit zu dieser Gruppe.
    p Das Netzwerk erkennt Gebiete von (online) Hass und Hetze, insofern es sich nach österreichischer Gesetzeslage um eine Straftat handelt, als Teil des Phänomens
      span.italic &nbsp;hate crime&nbsp;
      span an. Zusätzlich erkennt das Netzwerk, Zusammenhänge und Schnittflächen zwischen den beiden differenziert zu betrachtenden Phänomenen. Online Hass und Hetze werden zudem als potentieller Auslöser für
      span.italic &nbsp;hate crime&nbsp;
      span erachtet. 
    p Das Netzwerk nimmt sich hiermit vor,
      span.italic &nbsp;hate crime&nbsp;
      span bezogene Forschung sowie weitere Definierungsvorhaben im Auge zu behalten, sich aber nicht von einem fehlenden detailfokussierten Konsens bezüglich einer konkreten
      span.italic &nbsp;hate crime&nbsp;
      span Definition an einer gemeinsamen, effektiven und zielführenden Zusammenarbeit hindern zu lassen. Somit liegt der Fokus des Netzwerkes auf der Umsetzung gemeinsamer Ziele. 

    p.bold-text Wir möchten erreichen, dass
    ul
      li Unterstützungsmaßnahmen für von
        span.italic &nbsp;hate crime&nbsp;
        span Betroffene verbessert werden,
      li vermehrt Maßnahmen gesetzt werden, um vorurteilsmotivierten Straftaten effektiv entgegenzutreten (Sichtbarkeit erhöhen, Phänomen benennen, Monitoring ermöglichen)
      li die Kooperation und der Austausch zwischen ausschlaggebenden Stakeholdern ausgebaut und erweitert wird (Justiz, Polizei, politische Entscheidungsträger*innen, zivilgesellschaftliche Akteur*innen sowie Expert*innen des Gesundheitssystems),
      li und präventive Maßnahmen – wie Training und Sensibilisierungskampagnen – gesetzt werden. 

    p.bold-text Die Unterzeichnenden bekräftigen ihren Willen, in Zukunft gemeinsam
    ul
      li an der Sichtbarkeit des Phänomens
        span.italic &nbsp;hate crime&nbsp;
        span mitzuwirken,
      li weitere Vernetzungsaktivitäten zu unternehmen, 
      li die Verbreitung und Durchsetzung der im Anhang befindlichen Empfehlungen aktiv zu forcieren
      li und insbesondere die Problematiken des ‚underreporting' (Nicht-Melden) und des mangelnden intersektoralen Austausches in den Fokus zu nehmen.
  
  
  .download-container
    p Das Netzwerk hat im Zuge seiner anfänglichen Tätigkeiten ein gemeinsames 'Memorandum of Understanding' erstellt und im Rahmen des Netzwerktreffens am 3.12.2018 unterzeichnet. Dieses Dokument 'um
        span.italic &nbsp;hate crime&nbsp;
        span sichtbar zu machen' und als gemeinsame Absichtserklärung finden Sie hier:
    //- span.align-center Download 
    span.bold-text.italic Memorandum of Understanding - Netzwerk um
        span.italic &nbsp;hate crime&nbsp;
        span sichtbar zu machen.
    span auf deutsch oder englisch
    a(href='download/Memorandum of Understanding_de.pdf' download='Memorandum of Understanding_de.pdf').download-link
      img(src='assets/img/pdf_arrow.svg')
      .download-info
        span.file-name Memorandum of Understanding_de.pdf
        span.file-size 448 kb
    a(href='download/Memorandum of Understanding_en.pdf' download='Memorandum of Understanding_en.pdf').download-link
      img(src='assets/img/pdf_arrow.svg')
      .download-info
        span.file-name Memorandum of Understanding_en.pdf
        span.file-size 430 kb
    br
    p Sollten Sie Teil des Netzwerks werden wollen und/oder das Memorandum of Understanding als zivilgesellschaftliche*r Akteur*in unterzeichnen wollen, setzen Sie sich bitte mit der als Drehscheibe fungierenden ZARA-Koordinatorin transnationaler Kooperationen in Verbindung:&nbsp;
      a(href='mailto:anna.schreilechner@zara.or.at').link anna.schreilechner@zara.or.at