section#contact
  .info-wrapper
    h1 KONTAKT
    .contact-item
      p.bold-text ZARA – Zivilcourage und Anti-Rassismus-Arbeit
      
      span Schönbrunner Straße 119/13 
      span 1050 Wien 
      span Tel: +43 (0) 1 929 13 99 
      a(href='mailto:office@zara.or.at').link office@zara.or.at
      br
      
      span Drehscheibe und Kontaktperson bei Fragen zum Netzwerk:
      a(href='mailto:anna.schreilechner@zara.or.at').link anna.schreilechner@zara.or.at
    
    //- .contact-item
    //-   p.bold-text Antidiskriminierungsstelle Steiermark
      
    //-   span Andritzer Reichsstraße 38, 1. Stock
    //-   span 8045 Graz
    //-   span Tel: +43 (316) / 714 137
    //-   a(href='mailto:buero@antidiskriminierungsstelle.steiermark.at').link buero@antidiskriminierungsstelle.steiermark.at
    
    //- .contact-link
    //-   a(href='mailto:contact@hatecrimeinfo.com') 
    //-     i.fa.fa-paper-plane
    //-     span contact@hatecrimeinfo.com

    //-   .social-media-links
    //-     a(href='http://facebook.com')
    //-       i.fab.fa-facebook
    //-     a(href='http://instagram.com')
    //-       i.fab.fa-instagram
    //-     a(href='http://twitter.com')
    //-       i.fab.fa-twitter