section#contact
  .contact-link
    a(href='mailto:contact@hatecrimeinfo.com') 
      i.fa.fa-paper-plane
      span contact@hatecrimeinfo.com

    .social-media-links
      a(href='http://facebook.com')
        i.fab.fa-facebook
      a(href='http://instagram.com')
        i.fab.fa-instagram
      a(href='http://twitter.com')
        i.fab.fa-twitter