doctype html(lang='de')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title TITLE
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  //// Google verification
  //meta(name='google-site-verification', content='u6mzEFPkp8pWrEMysWNZG7uqexc6ihIYWyXLw-2SZtA')
  //// favicons
  link(rel='shortcut icon', href='assets/favicon.ico?', type='image/x-icon')
  link(rel='icon', href='assets/favicon.ico?', type='image/x-icon')
  // Custom CSS
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
  link(rel='stylesheet', href='assets/css/main.css')
 
