section#network
  .info-wrapper
    h1 NETZWERK
    .network-item
      .logo
        img(src='assets/img/zara_logo_simple_small.png')
      
      a(href='http://zara.or.at').link ZARA – Zivilcourage und Anti-Rassismus-Arbeit 
      br
      span wurde mit dem Ziel gegründet, Zivilcourage und eine rassismusfreie Gesellschaft in Österreich zu fördern sowie alle Formen von Rassismus zu bekämpfen.
      br
      | Seit seiner Gründung 1999 bietet ZARA Beratung für Betroffene und Zeug*innen von Rassismus an. Zudem betreibt ZARA seit September 2017 die Beratungsstelle #GegenHassimNetz.
    .network-item
      .logo
        img(src='assets/img/ZARA_training_logo.png')
      a(href='').link ZARA Training gemeinnützige GmbH
      br
      span bietet in ganz Österreich zielgruppengerechte und individuell gestaltbare Aus- und Fortbildungen, Workshops und Projekte in den Bereichen Diversity, Bewusstseinsbildung, Anti-Rassismus und Zivilcourage an. Bedarfs- und praxisorientiert unterstützt die GmbH auf diese Weise Kompetenzvermehrung in Unternehmen, Schulen, Behörden, Vereinen uvm.
    .network-item
      .logo
        img(src='assets/img/weisser_ring_logo.png')
      a(href='http://http://www.weisser-ring.at/').link Weisser Ring
      br
      span Der WEISSE RING Österreich wurde am 16.1.1978 gegründet. Als einzige allgemeine Opferunterstützungs-Organisation steht er österreichweit allen Opfern von Straftaten offen. Die Bundesgeschäftsstelle hat ihren Sitz in der Alserbachstraße in Wien. Neun Landesleitungen und 15 regionale Außenstellen sind bundesweit in der Opferarbeit tätig. Die Generalversammlung wird alle vier Jahre abgehalten.
    .network-item
      .logo
        img(src='assets/img/romano_centro_logo.jpg')
      a(href='http://www.romano-centro.org').link Romano Centro
      br
      span wurde 1991 als einer der ersten Roma-Vereine Österreichs gegründet. Im Romano Centro sind Roma aus unterschiedlichen Gruppen vertreten, um sich gemeinsam für die Verbesserung der Lebensbedingungen von Roma und gegen deren Diskriminierung einzusetzen. Schwerpunkte der Tätigkeit sind Bildung und Kultur. Romano Centro steht Roma und Nicht-Roma offen.
    .network-item
      .logo
        img(src='assets/img/queer_base_logo.png')
      a(href='http://queerbase.at/').link Queer Base – Welcome and Support for LGBTIQ Refugees
      br
      span hilft und unterstützt Lesben, Schwule, Bisexuelle, Trans- und Interpersonen (LGBTIQ), die nach Österreich geflüchtet sind. bietet Rechtsberatungen, Sozial– und Coming Out-Beratungen, Vernetzung mit der Community, Unterstützung in medizinischen, psychologischen Belangen und vermittelt an kompetente Stellen weiter. Außerdem bietet Queer Base Schulungen und Fortbildungen für Organisationen an, die im Asylbereich tätig sind.
    .network-item
      .logo
        img(src='assets/img/logo-fga.png')
      a(href='http://www.fga-wien.at ').link Forum gegen Antisemitismus (FGA)
      br
      span dient als Anlaufstelle für Personen, die antisemitische Vorfälle melden möchten. Das FGA unterstützt Betroffene durch persönlichen Kontakt, setzt mit ihnen gemeinsam weitere Schritte und bietet gegebenenfalls juristische Erstberatung. Das Forum betreibt zusätzlich Monitoring und Netzwerkarbeit 
    .network-item
      .logo
        img(src='assets/img/dokustelle_logo.png')
      a(href='http://www.dokustelle.at').link Dokustelle
      br
      span Die Dokustelle ist eine Dokumentations- und Beratungsstelle für Personen, die Islamfeindlichkeit und antimuslimischen Rassismus erfahren.
      br
      |Das Team der Dokustelle besteht aus Personen, die alle ehrenamtlich tätig sind. Der professionelle Hintergrund ist breit gefächert und umfasst Arbeitstätige als auch Studenten/Studentinnen verschiedener Richtungen. Am Projekt wirken JuristInnen, Kultur- und SozialanthropologInnen, BildungswissenschaflerInnen, PsychologInnen und PolikwissenschalerinInnen mit. 
    .network-item
      .logo
        img(src='assets/img/aufstehn.jpg')
      a(href='http://www.aufstehn.at').link #aufstehn
      br
      span ist eine Gemeinschaft von über 150.000 Engagierten, die sich zusammen in Österreich für ein positives Miteinander und soziale, wirtschaftliche & ökologische Fairness einsetzen. Mit der Kampagne #solidaritystorm haben zehntausende Menschen den Betroffenen von Hass und sexualisierter Gewalt im Netz den Rücken gestärkt. Immer wieder fordern Engagierte via #aufstehn die politischen EntscheidungsträgerInnen zum Handeln gegen Hass im Netz auf. Auf der Seite www.solidaritystorm.at finden sich online Betroffene und Interessierte zusammen, um gemeinsam für mehr digitale Zivilcourage zu sorgen. Neben Tipps & Tricks bietet die Seite auch die Möglichkeit sich z.B. über eine Facebook-Gruppe zu vernetzen und sich zum Thema auszutauschen. 
    .network-item
      .logo
        img(src='assets/img/antidiskriminierung_steiermark_logo.png')
      a(href='http://www.antidiskriminierungsstelle.steiermark.at/').link Antidiskriminierungsstelle Steiermark 
      br
      span ist eine Initiative des Integrationsressort des Landes Steiermark und der Stadt Graz, die vom Verein Helping Hands Graz als Trägerorganisation getragen wird. Sie ist eine Erstanlauf-, Clearing-, Beratungs- und Monitoringstelle. Allen sich betroffen fühlenden Menschen wird die Möglichkeit gegeben, sich mündlich, telefonisch, schriftlich oder auf elektronischem Weg an die Stelle zu wenden. 
      br
      |Neben der Funktion als Erstanlauf-, Clearing- und Beratungsstelle, ist die Antidiskriminierungsstelle Steiermark auf für Monitoring und wissenschaftliche Bearbeitung, Netzwerkarbeit, Bewusstseinsbildung und Sensibilisierung sowie Regionalsierung zuständig. 
    .network-item
      .logo
        img(src='assets/img/ara_logo.png')
      a(href='http://www.afrorainbow.at/').link Afro Rainbow Austria
      br
      span ARA ist die erste Organisation von und für LGBTQI+ Migrant*innen aus afrikanischen Ländern in Österreich und hat es sich zum Ziel gesetzt, eine Plattform für Sichtbarkeit, Kommunikation und Veränderung zu sein. ARA berücksichtigt aber auch die Probleme der LGBTQI+ Menschen, die in Afrika leben und die Wechselwirkung zwischen in Diaspora und auf dem Kontinent lebender Bevölkerung. Afro Rainbow Austria (ARA) besteht derzeit aus einem Team in Österreich und einem Team in Nigeria (ARA Outreach Nigeria).
  .bottom-gradient