section#network
  .info-wrapper
    h1 NETZWERK
    .network-item
      .logo
        img(src='assets/img/zara_logo_simple_small.png')
      
      a(target="blank" href='http://zara.or.at').link ZARA – Zivilcourage und Anti-Rassismus-Arbeit 
      br
      span wurde mit dem Ziel gegründet, Zivilcourage und eine rassismusfreie Gesellschaft in Österreich zu fördern sowie alle Formen von Rassismus zu bekämpfen.
      br
      | Seit seiner Gründung 1999 bietet ZARA Beratung für Betroffene und Zeug*innen von Rassismus an. Zudem betreibt ZARA seit September 2017 die Beratungsstelle #GegenHassimNetz.
    .network-item
      .logo
        img(src='assets/img/ZARA_training_logo.png')
      a(target="blank" href='').link ZARA Training gemeinnützige GmbH
      br
      span bietet in ganz Österreich zielgruppengerechte und individuell gestaltbare Aus- und Fortbildungen, Workshops und Projekte in den Bereichen Diversity, Bewusstseinsbildung, Anti-Rassismus und Zivilcourage an. Bedarfs- und praxisorientiert unterstützt die GmbH auf diese Weise Kompetenzvermehrung in Unternehmen, Schulen, Behörden, Vereinen uvm.
    .network-item
      .logo
        img(src='assets/img/weisser_ring_logo.png')
      a(target="blank" href='http://http://www.weisser-ring.at/').link Weisser Ring
      br
      span Der WEISSE RING Österreich wurde am 16.1.1978 gegründet. Als einzige allgemeine Opferunterstützungs-Organisation steht er österreichweit allen Opfern von Straftaten offen. Die Bundesgeschäftsstelle hat ihren Sitz in der Alserbachstraße in Wien. Neun Landesleitungen und 15 regionale Außenstellen sind bundesweit in der Opferarbeit tätig. Die Generalversammlung wird alle vier Jahre abgehalten.
    .network-item
      .logo
        img(src='assets/img/sos_mitmensch_logo.jpg')
      a(href='https://www.sosmitmensch.at/').link SOS Mitmensch
      br
      span ist eine Pressure Group für Menschenrechte, organisatorisch ein Verein, gemeinnützig, überparteilich und konfessionell unabhängig.
      br
      span Klare Ziele sind die Gleichberechtigung und Chancengleichheit aller -  unabhängig von Herkunft oder persönlichem Lebensentwurf. SOS Mitmensch wendet sich entschieden gegen alle Formen von Diskriminierung und sozialer Ausgrenzung. Integration, Asyl und Antirassismus zählen zu den Schwerpunkten der Arbeit. 
      br
      span Der Verein finanziert sich ausschließlich durch private Spenden und kann daher politisch unabhängig und flexibel agieren. SOS Mitmensch wurde im Dezember 1992 gegründet, um mit dem Lichtermeer am 23. Jänner 1993 dem „Anti-AusländerInnen-Volksbegehren“ der FPÖ etwas entgegen zu setzen.
    .network-item
      .logo
        img(src='assets/img/romano_centro_logo.jpg')
      a(target="blank" href='http://www.romano-centro.org').link Romano Centro
      br
      span Der Verein Romano Centro wurde 1991 als einer der ersten Roma-Vereine Österreichs gegründet. Im Romano Centro sind Roma*Romnija aus unterschiedlichen Gruppen vertreten, um sich gemeinsam für die Verbesserung der Lebensbedingungen von Roma*Romnija und gegen deren Diskriminierung einzusetzen. Schwerpunkte der Tätigkeit sind Bildung und Kultur. Das Romano Centro steht allen Interessierten offen. 
      br
      span Das Romano Centro veröffentlicht zudem den einzigen österreichweiten 
        a(target="blank" href='http://www.romano-centro.org/downloads/Antiziganismus_in_Oesterreich_2015-2017_web.pdf') Antiziganismus Bericht
    .network-item
      .logo
        img(src='assets/img/queer_base_logo.png')
      a(target="blank" href='http://queerbase.at/').link Queer Base – Welcome and Support for LGBTIQ Refugees
      br
      span ist eine Organisation von Menschen mit und ohne Fluchterfahrung. Sie wurde im Jahr 2015 gegründet und setzt sich für Flüchtlinge ein, die aufgrund ihrer sexuellen Orientierung und ihrer Geschlechtsidentität fliehen mussten.
      br
      span Die Organisation mit Sitz in Wien dient als Anlaufstelle für lesbische, schwule, bisexuelle, inter*, Trans*Gender und queere Flüchtlinge. LGBTIQ werden in über 70 Ländern der Welt kriminalisiert, von körperlicher, psychischer und sexualisierter Gewalt bedroht. In Österreich ist es seit längerer Zeit möglich, unter dem Titel „Angehörige einer sozialen Gruppe“ Asyl aufgrund von homo- bzw. transfeindlicher Verfolgung zu beantragen. Queer Base unterstützt die Betroffenen dabei.
      br
      span Die Queer Base befindet sich in der Türkis Rosa Lila Villa und ist im Kontext Wiener LGBTIQ Organisationen entstanden.
    .network-item
      .logo
        img(src='assets/img/Migrare-Logo.jpg')
      a(target="blank" href='http://www.migrare.at').link migrare – Zentrum für MigrantInnen in Oberösterreich
      br
      span migrare berät und begleitet Menschen mit Migrationsbezug hinsichtlich ihrer Anliegen zum Leben in Österreich. Das das vielfältige Team von migrare besteht aus Personen, die unterschiedliche Sprachen sprechen und unterschiedliche Lebenserfahrungen und (Aus-)Bildungen. Das gemeinsame Ziel der Arbeit von migrare ist die Gestaltung einer gerechten Gesellschaft mit gleichen Teilhabechancen für alle Menschen.
    .network-item
      .logo
        img(src='assets/img/hosi-logo.png')
      a(target="blank" href='http://www.hosiwien.at').link HOSI Wien
      br
      span Die HOSI Wien wurde 1979 als erster Lesben- und Schwulenverband Österreichs gegründet und wirkt heute als politische Interessenvertretung für Lesben, Schwule und Bisexuelle in Österreich. Wir treten gegenüber Minister*innen, Abgeordneten und anderen Politiker*nnen sowie gegenüber Parteien, Behörden, den Medien und der Öffentlichkeit vehement für unsere Anliegen ein und kämpfen für den Abbau von Vorurteilen gegenüber LGBTIQ-Personen in der Bevölkerung. Neben unserer umfangreichen Medienarbeit betreiben wir auch Öffentlichkeitsarbeit im weiteren Sinn – durch Vorträge, Diskussionsrunden, Teilnahme an unterschiedlichsten Veranstaltungen usw. Darüber hinaus ist für uns die Basisarbeit in der LGBTIQ-Community entscheidend, etwa durch Jugend-, Lesben oder Seniorengruppen sowie diverse offene Angebote im Gugg, unserem Café und Vereinszentrum.
    .network-item
      .logo
        img(src='assets/img/logo-fga.png')
      a(target="blank" href='http://www.fga-wien.at ').link Forum gegen Antisemitismus (FGA)
      br
      span dient als Anlaufstelle für Personen, die antisemitische Vorfälle melden möchten. Das FGA unterstützt Betroffene durch persönlichen Kontakt, setzt mit ihnen gemeinsam weitere Schritte und bietet gegebenenfalls juristische Erstberatung. Das Forum betreibt zusätzlich Monitoring und Netzwerkarbeit 
    .network-item
      .logo
        img(src='assets/img/dokustelle_logo.png')
      a(target="blank" href='http://www.dokustelle.at').link Dokumentations- und Beratungsstelle Islamfeindlichkeit und Antimuslimischer Rassismus
      br
      span Die Dokustelle, Dokumenations- und Beratungsstelle – Islamfeindlichkeit und Antimuslimischer Rassismus,  wurde am 10. Dezember 2014, dem internationalen Tag der Menschenrechte, als ein NGO gegründet. Somit ist die Dokustelle die erste und die einzige NGO, die ausschließlich Islamfeindlichkeit und antimuslimischen Rassismus erfasst. Das Team der Dokustelle besteht ausschließlich aus ehrenamtlichen Mitarbeiterinnen und Mitarbeitern mit unterschiedlichen professionellen Hintergründen.
      br
      span Unsere Dokumentations- und Beratungsstelle wurde mit der Absicht Daten und Fakten aufzuzeichnen gegründet, wobei die Bewusstseinsbildung rund um das Thema begleitend ist. Unser Ziel ist es Betroffene professionell zu unterstützen, indem wir Beistand leisten, beraten und gegebenfalls an etablierte Stelle weitervermitteln. 
      br
      span Mit der Arbeit der Dokumentations- und Beratungsstelle möchten wir nicht nur Zahlen festhalten und Statistiken aufzeigen, sondern gezielt präventiv gegen Hass und Spaltung arbeiten. Deshalb sind Bildungsarbeit und Bewusstseinsbildung umso wichtiger, um in der Gesamtgesellschaft Islamfeindlichkeit und antimuslimischen Rassismus vorzubeugen. Mit unseren Seminaren, Fortbildungen und Workshops sensibilisieren wir Menschen. Hierzu zählen auch unsere Kooperationen mit verschiedenen nationalen, europaweiten und internationalen Vereinen, Zivilorganisationen, Initiativen, Institutionen und Schulen zum wichtigen Bereich unserer Tätigkeit.
    .network-item
      .logo
        img(src='assets/img/aufstehn.jpg')
      a(target="blank" href='http://www.aufstehn.at').link #aufstehn
      br
      span ist eine Gemeinschaft von über 150.000 Engagierten, die sich zusammen in Österreich für ein positives Miteinander und soziale, wirtschaftliche & ökologische Fairness einsetzen. Mit der Kampagne #solidaritystorm haben zehntausende Menschen den Betroffenen von Hass und sexualisierter Gewalt im Netz den Rücken gestärkt. Immer wieder fordern Engagierte via #aufstehn die politischen EntscheidungsträgerInnen zum Handeln gegen Hass im Netz auf. Auf der Seite www.solidaritystorm.at finden sich online Betroffene und Interessierte zusammen, um gemeinsam für mehr digitale Zivilcourage zu sorgen. Neben Tipps & Tricks bietet die Seite auch die Möglichkeit sich z.B. über eine Facebook-Gruppe zu vernetzen und sich zum Thema auszutauschen. 
    .network-item
      .logo
        img(src='assets/img/antidiskriminierung_steiermark_logo.png')
      a(target="blank" href='http://www.antidiskriminierungsstelle.steiermark.at/').link Antidiskriminierungsstelle Steiermark 
      br
      span ist eine Initiative des Integrationsressort des Landes Steiermark und der Stadt Graz, die vom Verein Helping Hands Graz als Trägerorganisation getragen wird. Sie ist eine Erstanlauf-, Clearing-, Beratungs- und Monitoringstelle. Allen sich betroffen fühlenden Menschen wird die Möglichkeit gegeben, sich mündlich, telefonisch, schriftlich oder auf elektronischem Weg an die Stelle zu wenden. 
      br
      |Neben der Funktion als Erstanlauf-, Clearing- und Beratungsstelle, ist die Antidiskriminierungsstelle Steiermark auf für Monitoring und wissenschaftliche Bearbeitung, Netzwerkarbeit, Bewusstseinsbildung und Sensibilisierung sowie Regionalsierung zuständig. 
    .network-item
      .logo
        img(src='assets/img/ara_logo.png')
      a(target="blank" href='http://www.afrorainbow.at/').link Afro Rainbow Austria
      br
      span ARA ist die erste Organisation von und für LGBTQI+ Migrant*innen aus afrikanischen Ländern in Österreich und hat es sich zum Ziel gesetzt, eine Plattform für Sichtbarkeit, Kommunikation und Veränderung zu sein. ARA berücksichtigt aber auch die Probleme der LGBTQI+ Menschen, die in Afrika leben und die Wechselwirkung zwischen in Diaspora und auf dem Kontinent lebender Bevölkerung. Afro Rainbow Austria (ARA) besteht derzeit aus einem Team in Österreich und einem Team in Nigeria (ARA Outreach Nigeria).
  .bottom-gradient