section#network
  .info-wrapper
    h1 NETZWERK
    .network-item
      .logo
        img(src='assets/img/zara_logo_simple_small.png')
      
      a(href='http://zara.or.at').link ZARA – Zivilcourage und Anti-Rassismus-Arbeit 
      br
      span wurde mit dem Ziel gegründet, Zivilcourage und eine rassismusfreie Gesellschaft in Österreich zu fördern sowie alle Formen von Rassismus zu bekämpfen.
      br
      | Seit seiner Gründung 1999 bietet ZARA Beratung für Betroffene und Zeug*innen von Rassismus an. Zudem betreibt ZARA seit September 2017 die Beratungsstelle #GegenHassimNetz.
