include ../_includes/en/head

.main-wrapper

  include ../_includes/en/home
  include ../_includes/en/about
  include ../_includes/en/more
  include ../_includes/en/network
  include ../_includes/en/contact
  include ../_includes/en/footer

script.
  (function() {
    
    // scroll to view
    let linkList = []
    linkList = document.getElementsByClassName('scroll-link')
    const mobileMenu = document.getElementById('mobile-menu')
    
    for (let link of linkList) {
      let href = link.href
      href = href.split("#").pop()
      link.addEventListener('click', function(e) {
        e.preventDefault()
        let element = document.getElementById(href)
        console.log(element)
        element.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"})
        mobileMenu.classList.remove('open')

      })
    }
  })()
  