include _includes/de/head

.main-wrapper
  include _includes/de/home
  include _includes/de/about
  include _includes/de/more
  include _includes/de/network
  include _includes/de/contact
  include _includes/de/footer

script.
  (function() {
    
    // scroll to view
    let linkList = []
    linkList = document.getElementsByClassName('scroll-link')
    const mobileMenu = document.getElementById('mobile-menu')
    
    for (let link of linkList) {
      let href = link.href
      href = href.split("#").pop()
      link.addEventListener('click', function(e) {
        e.preventDefault()
        let element = document.getElementById(href)
        console.log(element)
        element.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"})
        mobileMenu.classList.remove('open')

      })
    }
  })()
  