section#about
  .info-wrapper
    h1 ABOUT
    p.bold-text Civil society network, to 
    ul
      li shed light on,
      li and effectively 
      li as well as preventively counteract
    span.bold-text.italic hate crime.

    p In the framework of the EU project V-START – Victim Support Through Awareness-Raising and neTworking we, representatives of civil society organisations and initiatives, active in the field of anti-discrimination, victim protection and human rights, had the possibility to network and to unite for form a strengthened lobby for those affected by
      span.italic &nbsp;hate crime.
    p The network refers to the practice-oriented
      span.italic &nbsp;hate crime&nbsp;
      span definition, formulated by the OSCE Office for Democratic Institutions and Human Rights (ODIHR), which states:
    p.block-quote.italic Hate crimes are criminal acts motivated by bias or prejudice towards particular groups of people.
    p The network critically examined further formulations of the ODIHR definition and agrees, in accordance with Austrian legislation, to recognize
      span.italic &nbsp;hate crime&nbsp;
      span as a criminal offense with a bias motive against one of the groups of persons or targeting members of such groups - actual or attributed – due to their specific belonging to this group referred to in Section 283 of the Criminal Code (CC)). In the understanding of the network, so-called
      span.italic &nbsp;hate crimes&nbsp;
      span are therefore criminal offenses,
    p.block-quote.italic against a church or religious denomination or any other group of persons defined by criteria of race, colour of skin, language, religion or ideology, nationality, descent of national or ethnic origin, sex, a disability, age or sexual orientation or a member of such a group, explicitly on account of his/her belonging to such a group.
    p This network recognizes are of hate speech, insofar as it is a criminal offense under Austrian law, as part of the
      span.italic &nbsp;hate crime&nbsp;
      span phenomenon. In addition, the network recognizes connections and interfaces between the two differentiated phenomena. Hate speech is additionally considered a potential trigger for
      span.italic &nbsp;hate crime&nbsp;
      span .
    p The network intends to keep an eye on
      span.italic &nbsp;hate crime
      span -related research as well as other definitional projects, but not to be hampered by a lack of detail-focused consensus on a concrete
      span.italic &nbsp;hate crime&nbsp;
      span definition of collaborative, effective and purposeful collaboration. Thus, the focus of this document is on formulating goals that the network wants to achieve together.

    p.bold-text We would like to achieve that
    ul
      li support measures for
        span.italic &nbsp;hate crime&nbsp;
        span victims are improved, 
      li increasingly measures are taken to effectively counter bias-motivated crimes (increasing visibility, naming the phenomenon, allowing monitoring etc.)
      li the development and expansion of cooperation and exchange between key stakeholders (judiciary, police, political decision-makers, civil society representatives and health system experts),
      li and preventative measures – such as training and awareness-raising campaigns – are taken.

    p.bold-text The undersigned affirm their will to
    ul
      li contribute to the visibility of the
        span.italic &nbsp;hate crime&nbsp;
        span phenomenon, 
      li undertake further networking activities, 
      li actively promote the dissemination and enforcement of the recommendations set out in the annex
      li and to, particularly, focus on the problem of 'underreporting' and the lack of intersectoral exchange.
  .download-container
    span.align-center Download 
    span.bold-text Memorandum of Understanding
    span in english or german
    a(href='../download/Memorandum of Understanding_en.pdf' download='Memorandum of Understanding_en.pdf').download-link
      img(src='../assets/img/pdf_arrow.svg')

      .download-info
        span.file-name Memorandum of Understanding_en.pdf
        span.file-size 430 kb
    a(href='../download/Memorandum of Understanding_de.pdf' download='Memorandum of Understanding_de.pdf').download-link
      img(src='../assets/img/pdf_arrow.svg')
      .download-info
        span.file-name Memorandum of Understanding_de.pdf
        span.file-size 448 kb