section#home

  .home-wrapper
    .header
      .logo
        a
          h1 NETWORK
          h1 COUNTERING
          h1 HATE CRIME

      .menu-container
        a(href='#about').scroll-link about
        a(href='#more').scroll-link phenomenon 
          span.italic hate crime
        a(href='#network').scroll-link network
        a(href='#contact').scroll-link contact
        .language-container
          a(href='/') de
          span |
          a.active en
    .mobile-menu-button
      a#mobile-menu-button(onclick='openMenu()')
        i.fas.fa-bars
    #mobile-menu.mobile-menu-container
      
      a(onclick='closeMenu()')
        i.fas.fa-times
      .language-container
        a(href='/') de
        span |
        a.active en
      a(href='#about').scroll-link about
      a(href='#more').scroll-link phenomenon 
        span.italic hate crime
      a(href='#network').scroll-link network
      a(href='#contact').scroll-link contact
    

    .quote-container
      .quote 
        span Network to 
           
        span shed light on
        span and effectively as well as
        span preventively 
        span counteract 
          span.italic hate crime
    .bottom-gradient
  script.
    const mobileMenuButton = document.getElementById('mobile-menu-button')
    const mobileMenu = document.getElementById('mobile-menu')
    
    function openMenu() {
      
      console.log(mobileMenu)
      mobileMenu.classList.add('open')
    

    }
    function closeMenu() {
      
      console.log(mobileMenu)
      mobileMenu.classList.remove('open')
    

    }