section#more
  .info-wrapper
    h1 PHENOMENON 
      span.italic HATE CRIME
    p Here we keep you up to date on current studies, projects, countermeasures and preventive steps:


    ul
      li V-START – Victim Support Through Awareness-Raising and neTworking 
        br
        span Project Blog: 
          a(href='http://www.vstart.eu') www.vstart.eu

      li
        span.italic &nbsp;Hate crime&nbsp;
        span in der Steiermark, Antidiskriminierungsstelle Steiermark: 
        br
        a(href='http://www.antidiskriminierungsstelle.steiermark.at/cms/dokumente/12583161_137267669/0717841f/2bericht.pdf') Bericht download

      li Hate No More, WEISSER RING:
        br
        a(href='http://www.weisser-ring.at/2016/11/24/hate-crime-verbrechen-mit-zukunft/') http://www.weisser-ring.at/2016/11/24/hate-crime-verbrechen-mit-zukunft/


      li Facing Facts Online! ,
        span.italic Hate crime&nbsp;
        span Monitoring' Kurs: 
        br
        a(href='http://www.facingfacts.eu/page/hate-crime-monitoring-course') http://www.facingfacts.eu/page/hate-crime-monitoring-course 

      li
        span.italic &nbsp;Hate crime&nbsp;
        span Dokumentation, OSZE Büro für demokratische Institutionen und Menschenrecht (BDIMR / ODIHR): 
        br
        a(href='http://hatecrime.osce.org/austria') http://hatecrime.osce.org/austria 

      li LGBTI Gewalterfahrungen. Eine Studie zu Hassverbrechen in Österreich, IG Soziologie Forschung: 
        br
        a(href='https://www.vielfalt.or.at/no-hate/files/LGBTI-Gewalterfahrungen-Bericht-IGSF-2015-digital.pdf') Bericht download

      li Gesetze gegen „
        span.italic Hate crime
        span ". Ein praktischer Leitfaden, OSZE BDIMR: 
        a(href='https://www.osce.org/de/odihr/36431?download=true') https://www.osce.org/de/odihr/36431?download=true

