section#network
  .info-wrapper
    h1 NETWORK
    .network-item
      .logo
        img(src='../assets/img/zara_logo_simple_small.png')
      
      a(href='http://zara.or.at').link ZARA – Zivilcourage und Anti-Rassismus-Arbeit 
      br
      span stands for "Civil Courage and Anti-Racism Work", was founded in 1999 with the mission to combat all forms of racism and to promote civil courage.
      br
      | Since its founding, ZARA has been providing psychosocial and legal counseling to those affected by and/or witnessing racism. Since September 2017, has also been operating the counseling center #GegenHassimNetz (AgainstOnlineHate).
    .network-item
      .logo
        img(src='../assets/img/antidiskriminierung_steiermark_logo.png')
      a(href='http://www.antidiskriminierungsstelle.steiermark.at/').link Antidiskriminierungsstelle Steiermark 
      br
      span ist eine Initiative des Integrationsressort des Landes Steiermark und der Stadt Graz, die vom Verein Helping Hands Graz als Trägerorganisation getragen wird. Sie ist eine Erstanlauf-, Clearing-, Beratungs- und Monitoringstelle. Allen sich betroffen fühlenden Menschen wird die Möglichkeit gegeben, sich mündlich, telefonisch, schriftlich oder auf elektronischem Weg an die Stelle zu wenden. 
      br
      |Neben der Funktion als Erstanlauf-, Clearing- und Beratungsstelle, ist die Antidiskriminierungsstelle Steiermark auf für Monitoring und wissenschaftliche Bearbeitung, Netzwerkarbeit, Bewusstseinsbildung und Sensibilisierung sowie Regionalsierung zuständig. 
    .network-item
      .logo
        img(src='../assets/img/weisser_ring_logo.png')
      a(href='http://http://www.weisser-ring.at/').link Weisser Ring
      br
      span Der WEISSE RING Österreich wurde am 16.1.1978 gegründet. Als einzige allgemeine Opferunterstützungs-Organisation steht er österreichweit allen Opfern von Straftaten offen. Die Bundesgeschäftsstelle hat ihren Sitz in der Alserbachstraße in Wien. Neun Landesleitungen und 15 regionale Außenstellen sind bundesweit in der Opferarbeit tätig. Die Generalversammlung wird alle vier Jahre abgehalten.
  .bottom-gradient