section#network
  .info-wrapper
    h1 NETWORK
    .network-item
      .logo
        img(src='../assets/img/neu/03-zara-logo-quer.png')
      
      a(target="blank" href='http://zara.or.at').link ZARA – Zivilcourage und Anti-Rassismus-Arbeit 
      br
      span stands for "Civil Courage and Anti-Racism Work", was founded in 1999 with the mission to combat all forms of racism and to promote civil courage.
      br
      | Since its founding, ZARA has been providing psychosocial and legal counseling to those affected by and/or witnessing racism. Since September 2017, has also been operating the counseling center #GegenHassimNetz (AgainstOnlineHate).
    .network-item
      .logo
        img(src='../assets/img/neu/03-zara_training-logo-quer.png')
      a(target="blank" href='').link ZARA Training non-profit company
      br
      span offers target-group-specific and individually designed training courses, workshops and projects in the areas of diversity, awareness raising, anti-racism and moral courage all over Austria. Demand-oriented and practice-oriented, the GmbH supports in this way competence increase in companies, schools, authorities, associations and much more.

    .network-item
      .logo
        img(src='../assets/img/neu/WEISSER RING LOGO NEU.jpg')
      a(target="blank" href='http://http://www.weisser-ring.at/').link Weisser Ring
      br
      span was founded in 1978 and has ever since been the only general victim support organization, it is open to all victims of crime throughout Austria. The federal office is located in Alserbachstraße in Vienna. It operates additional nine state offices and 15 regional offices, all active in the field of victim protection nationwide. 
    .network-item
      .logo
        img(src='../assets/img/sos_mitmensch_logo.jpg')
      a(href='https://www.sosmitmensch.at/').link SOS Mitmensch
      br
      span is a pressure group for human rights and an non-profit, non-partisan and confessionally independent association.
      br
      span Clear goals are the equal rights and equal opportunities of all - regardless of someone’s origin or personal lifestyle. SOS Mitmensch resolutely opposes all forms of discrimination and social exclusion. Integration, asylum and anti-racism are among the focal points of the organisation’s work.
      br
      span The association finances itself exclusively through private donations and can therefore act politically independent and flexible. SOS Mitmensch was founded in December 1992 to counter the "anti-foreigner referendum" of the Austrian Freedom’s Party by organising the “Lichtermeer” (sea of lights) on January 23rd 1993.
    .network-item
      .logo
        img(src='../assets/img/romano_centro_logo.jpg')
      a(target="blank" href='http://www.romano-centro.org').link Romano Centro
      br
      span The organization “Romano Centro” was founded in 1991 as one of the first Roma organizations in Austria. The organization represents different groups of Roma with the aim to collectively promote the improvement of living conditions and to combat discrimination against Roma. Their focal points are education and culture. The Romano Centro is open to Roma and non-Roma.
      br
      span Additionally the Romano Centro publishes the only Austria-wide 
        a(target="blank" href='http://www.romano-centro.org/downloads/Antiziganismus_in_Oesterreich_2015-2017_web.pdf') Antigypsyism Report.
    .network-item
      .logo
        img(src='../assets/img/queer_base_logo.png')
      a(target="blank" href='http://queerbase.at/').link Queer Base – Welcome and Support for LGBTIQ Refugees
      br
      span is an organisation of people who have or have not experienced forced displacement. It was founded in 2015 and stands for supporting refugees who had to flee because of their sexual orientation and their gender identity.
      br
      span The organization is based in Vienna and serves as a contact point for lesbian, gay, bisexual, inter*, trans*gender and queer refugees. LGBTIQ are criminalized in over 70 countries around the world, threatened by physical, mental and sexual violence. In Austria, it has been possible for quite some time to apply for asylum on the basis of homophobic or transphobic persecution under the title "members of a social group". Queer Base supports those affected throughout the process of application.
      br
      span The queer base is located at the "Würkis Rosa Lila Villa" and has emerged in the context of Viennese LGBTIQ organizations.
    
    .network-item
      .logo
        img(src='../assets/img/Migrare-Logo.jpg')
      a(target="blank" href='http://www.migrare.at').link migrare – Zentrum für MigrantInnen in Oberösterreich
      br
      span Migrare provides counselling and accompanies people with migration backgrounds with regard to their concerns and requests about life in Austria. migrare's diverse team is made up of people who speak different languages ​​and different life experiences and educations. The common goal of migrare's work is the creation of a just society with equal participation opportunities for all people.
    .network-item
      .logo
        img(src='../assets/img/IDB-logo.png')
      a(target="blank" href='http://diskriminierungsfrei.at/').link IDB - Initiative non-discriminatory education
      br
      span The IDB is committed to the complete implementation of the UN Convention on the Rights of the Child and the European Convention on Human Rights in all Austrian educational institutions, from kindergarten through school to university. The IDB focuses on schools because this is the place where experiences of discrimination occur most frequently.
    .network-item
      .logo
        img(src='../assets/img/hosi-logo.png')
      a(target="blank" href='http://www.hosiwien.at').link HOSI Vienna
      br
      span HOSI Vienna was founded in 1979 as the first lesbian and gay association in Austria and today still acts as a political advocacy for lesbians, gays and bisexuals in Austria. HOSI Vienna vehemently stands up for LGBTIQ+ concerns in front of ministers, members of parliament and other politicians, as well as in front of parties, authorities, the media and the public. Also HOSI Vienna fights for the reduction of prejudices against LGBTIQ people throughout Austria. In addition to HOSIs extensive media work, the team also operates public relations in a broader sense - through lectures, roundtables, participation in various events, etc. Groundwork within the LGBTIQ community is crucial for HOSI Vienna, e.g. through youth, lesbian or senior citizen groups as well as various free and accessible offers in the Gugg, HOSIs café and association center.
    .network-item
      .logo
        img(src='../assets/img/neu/HOSI-Sbg-Logo_web.png')
      a(target="blank" href='https://hosi.or.at/').link HOSI Salzburg
      br
      span We are the initiative for lesbian, gay, bisexual, transgender and intersexual people in the city and state of Salzburg, neighbouring Bavaria, and Upper Austria. We advocate that homosexual, bisexual, transgender and intersexual people can live their lives fearlessly and with dignity, self-confidence and self-determination. HOSI Salzburg provides support as a meeting place as well as a contact point for information and advice in all questions of queer life. In addition, we are of course available to all other interested parties on queer topics.
    .network-item
      .logo
        img(src='../assets/img/dokustelle_logo.png')
      a(target="blank" href='http://www.dokustelle.at').link Documentation and Counseling Center Islamophobia and Anti-Muslim Racism
      br
      span The Dokustelle, Documentation and Counseling Center – Islamophobia and Anti-Muslim Racism, was established as an NGO on December 10, 2014, on International Human Rights Day. It is the only non-governmental organization for Islamophobia and antimuslim racism in Austria. The team of the Dokustelle consists exclusively of volunteers with different professional backgrounds.
      br
      span Our documentation and advice center was founded with the intent to record data and facts, where awareness rising accompanies this work. Our goal is to support those affected professionally by providing assistance, advice and, when its demanded convey them to different established places and institutions. 
      br
      span With the work of the Documentation and Counseling Center, we not only want to record numbers and statistics, but specifically to work preventively against hatred and division. That's why educational work and raising awareness are very important in society as a whole to prevent Islamophobia and anti-Muslim racism. With our seminars, further education and workshops we sensitize people. In doing so, we point out that Islamophobia is to be regarded as a society as a whole. With our documentation and educational work, we aim to raise awareness. Our cooperation with different national, European and other international organizations and institutions is an important part of our work. 
    .network-item
      .logo
        img(src='../assets/img/aufstehn.jpg')
      a(target="blank" href='http://www.aufstehn.at').link #aufstehn
      br
      span is a community of over 150,000 committed people who work together in Austria for a positive togetherness and social, economic and ecological fairness. With the campaign #solidaritystorm, tens of thousands of people have supported those affected by hatred and sexual violence on the internet. Again and again committed people call via #aufstehn on political decision-makers to act against hatred online. On www.solidaritystorm.at, those affected and interested can come together online to work for more digital moral courage. In addition to tips and tricks, the website also offers the opportunity to network via a Facebook group and to exchange views on the topic.
    .network-item
      .logo
        img(src='../assets/img/neu/logo-antisemitismus-meldestelle.jpg')
      a(target="blank" href='https://www.antisemitismus-meldestelle.at').link Antisemitismus Meldestelle
      br
      span The anti-Semitism reporting office of the Vienna Jewish Community (IKG Vienna) acts as a contact point for people who want to report anti-Semitic incidents. This offer is primarily aimed at affected persons who then receive personal, trustworthy, and professional support from the team at the reporting office. There is a close cooperation with the institutions of the IKG, in particular with ESRA, the psychosocial centre of the IKG, which supports Jewish and non-Jewish people affected by anti-Semitism. If necessary, affected persons are accompanied when dealing with authorities, and further legal support can also be arranged on a case-by-case basis. In addition, the anti-Semitism reporting office systematically records these anti-Semitic incidents in accordance with internationally recognized criteria and publishes this data at regular intervals. This should contribute to making the phenomenon of anti-Semitism visible and provide various stakeholders with a sound basis in ​​prevention and the fight against anti-Semitism.
    .network-item
      .logo
        img(src='../assets/img/antidiskriminierung_steiermark_logo.png')
      a(target="blank" href='http://www.antidiskriminierungsstelle.steiermark.at/').link Antidiskriminierungsstelle Steiermark 
      br
      span is an initiative of the Integration Department of the Province of Styria and the City of Graz, which is supported by the association Helping Hands Graz as a sponsoring organization. It is an initial contact point, clearing, advisory and monitoring body. All persons concerned are given the opportunity to receive on-site counselling or to be counselled via E-Mail, App or telephone.
      br
      |In addition to its function as a contact point, clearing and advice center, the Anti-Discrimination Office Styria is responsible for monitoring and scientific work, networking, awareness raising and awareness raising as well as regionalization.
    .network-item
      .logo
        img(src='../assets/img/neu/Logo_antidiskriminierung_DEFrgb.jpg')
      a(target="blank" href='http://www.antidiskriminierung-salzburg.at').link Antidiskriminierungsstelle Salzburg 
      br
      span The anti-discrimination office in the city of Salzburg advises people who have been discriminated against or who want to report discrimination. Our offer includes clearing and consulting, documentation, support, networking, free workshops and lectures. We clarify all inquiries and provide legal advice. If necessary, we also call offices and authorities. All complaints and discrimination are recorded and documented. On request, we can organize people to accompany you to appointments with offices and authorities. We are also networking with other institutions and organizations. Together we can better draw attention to disadvantages and discrimination. If problems occur more frequently, we could consider countermeasures together. In free workshops and lectures, we provide information about cases of discrimination and develop options for action with affected persons, multipliers, interested parties, institutions, and organizations. 
    .network-item
      .logo
        img(src='../assets/img/ara_logo.png')
      a(target="blank" href='http://www.afrorainbow.at/').link Afro Rainbow Austria
      br
      span Afro Rainbow Austria (ARA) is the first organisation established by and for African LGBTQI+ in Austria with the aim of creating a communicative and interactive platform. Discrimination and hostility of LGBTQI+ Africans are not restricted to the continent, but can also be found in and around African communities in Austria.

    h2 Supporting public institutions

    .network-item
      .logo
        img(src='../assets/img/neu/GAW_Logo_srgb.jpg')
      a(target="blank" href='https://www.gleichbehandlungsanwaltschaft.gv.at').link Gleichbehandlungsanwaltschaft (GAW)
      br
      span The GAW strives for a non-discriminatory and inclusive society in which the participation of everyone is guaranteed. By providing free advice and support in accessing justice, we fight discrimination and in this way try to improve the situation of affected persons and bring about change at the individual level. Our information and awareness-raising work is aimed specifically at companies and institutions in order to prevent discrimination and bring about a change in organizational cultures. With our awareness work we try to establish equality as a central social value and thus to promote social and societal change. Victims of discrimination can contact us at any time using our 
      a(target='_blank', href='https://www.formularservice.gv.at/site/fsrv/user/formular.aspx?pid=f5e337bc2b724ef9bdf8e1f5f8d15ee4&pn=B474bebfe62fb4e1c8e834e48efe059d2') Meldeformular
      |&nbsp;or they can report their experience of discrimination anonymously.
    .network-item
      .logo
        img(src='../assets/img/neu/2018_BMI_Logo_deutsch_4c.jpg')
      a(target="blank" href='https://www.bmi.gv.at/').link Bundesministerium für Inneres (BMI)
      br
      span The BMI is the security service provider in Austria. The 38,000 employees actively protect people and help when it matters most. They work in the areas of crime, fighting terrorism and corruption, prevention, migration, asylum, crisis management, road safety, conducting elections, etc.
      br
      span Since November 2022, the Austrian police have been recording prejudice motives according to victim groups (hate crime, hate speech) in criminal charges. You can find more information in the 
      a(href='https://www.bmi.gv.at/408/Projekt/start.aspx' target="blank") Folder
      |. Furthermore, two reporting offices have been set up in the Directorate for State Security and Intelligence Service - the "Reporting Office for NS Re-Activation" (e-mail: ns-meldestelle@dsn.gv.at) and the "Reporting Office for Extremist and Radical Videos" (e-mail: stopextremists@dsn.gv.at).
  .bottom-gradient