section#impressum
  .info-wrapper
    h1 Impressum

    .eu-disclaim
      .eu-disclaim-item
        p Diese Website wurde vom Justizprogramm der Europäischen Union (2014-2020) und vom österreichischen Bundesministerium für Arbeit, Soziales, Gesundheit und Konsumentenschutz mitfinanziert. Der Inhalt dieser Website stellt ausschließlich Ansichten der Autor*innen dar und liegt in deren alleiniger Verantwortung. Die Europäische Kommission übernimmt keine Verantwortung für die Verwendung der darin enthaltenen Informationen.
        //- .logo
        //-   img(src='../assets/img/eu_logo_de.png')
      .eu-disclaim-item
        p This website was co-funded by the European Union's Justice Programme (2014-2020) and the Austrian Federal Ministry of Labour, Social Affairs, Health and Consumer Protection. The content of this website represents the views of the authors only and is their sole responsibility. The European Commission does not accept any responsibility for use that may be made of the information it contains.
    .logo
      img(src='../assets/img/sozial_ministerium_logo.png')
      img(src='../assets/img/eu_logo.png')
    

    hr

    p Die Informationen auf hatecrimekontern.at werden zur Verfügung gestellt von:
    span ZARA-Zivilcourage und Anti-Rassismus-Arbeit
    span Schönbrunner Straße 119/13, 1050 Wien 
    span +43 (0) 1 929 13 99 ; office@zara.or.at 
    span Für den Inhalt verantwortlich: Anna-Laura Schreilechner, ZARA-Koordinatorin Transnationaler Kooperationen
    span Redaktion: Netzwerk ‚um hate crime sichtbar zu machen‘ & ZARA-Team 
    span Übersetzung: Anna-Laura Schreilechner, Philippe Schennach 
    span Rechtsform: Verein (ZVR-Zahl: 236017119 / DVR: 2110769)
    span Uni Credit Bank Austria 
    span BLZ 12000 | Kto: 05211362800
    span IBAN: AT25 1100 0052 1136 2800
    span BIC: BKAUATWW 
    span ZARA ist gefördert von der MA 17 

    p Sämtliche auf der Website www.kunstfreiheit.at veröffentlichten Texte, Abbildungen, Grafiken, Videosequenzen, Tondokumente und andere Materialien unterliegen dem Schutz des Urheberrechts. Urheber*in ist entweder ZARA oder die in der Quellenangabe genannte Person oder Institution. Eine Wiedergabe, Massenvervielfältigung oder Veröffentlichung der auf der Website befindlichen Informationen ist nicht gestattet. Die Genehmigung zum Abdruck oder zur Weiterverbreitung kann im Einzelfall erteilt werden.

    p.bold-text Nutzungsbedingungen
    span Es gelten die allgemeine Bedingungen für die Benützung der Onlinedienste von ZARA.

    p.bold-text Haftungsausschluss
    ul
      li
        p Inhalt des Onlineangebotes
        p ZARA weist die Benutzer*innen des Onlineangebots unter hatecrimekontern.at darauf hin, dass sie dieses Angebot auf eigene Gefahr benützen. ZARA wird nach bestem Wissen und Gewissen für die Richtigkeit der auf der Website angegebenen Inhalte sorgen. ZARA übernimmt jedoch keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen ZARA, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens ZARA kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
      li
        p Verweise und Links
        p Für Inhalte Dritter, auf die mittels direkten oder indirekten Verweisen (‚Links‘) hingewiesen wird, schließt ZARA jegliche Haftung aus. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
      li 
        p Urheber- und Kennzeichenrecht
        p ZARA ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Texte, Abbildungen, Grafiken, Videosequenzen und Tondokumente zu beachten, von ZARA selbst oder dessen vertraglichen Partner*innen erstellte Texte, Abbildungen, Grafiken, Videosequenzen und Tondokumente zu nutzen oder auf lizenzfreie Texte, Abbildungen, Grafiken, Videosequenzen und Tondokumente zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! Das Copyright für veröffentlichte, von ZARA selbst oder deren vertraglichen Partner*innen erstellte Objekte bleibt allein bei ZARA (Autorin der Seiten). Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung der Autorin (ZARA) nicht gestattet.
      li
        p Datenschutz
        p Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Mit der Angabe seiner Postadresse bzw. E-Mail-Adresse erklärt sich der Nutzer*innen (widerruflich) einverstanden, bestelltes Informationsmaterial (Newsletter, Postzusendungen) von ZARA per Post und/oder E-Mail zu erhalten. Weiters erklärt sich der Nutzer mit der EDV-unterstützten Erfassung und Weiterverarbeitung ihn betreffender Daten einverstanden. Diese persönlichen Informationen werden vonZARA nur zur Ausführung von durch Nutzer bestellte Leistungen verwendet bzw. weiters, um die Nutzer auf neue Termine, Veranstaltungen, Programmpunkte, Onlinedienste und Leistungen des Netzwerks ‚um hate crime sichtbar zu machen‘ aufmerksam zu machen. Die vom*von der Nutzer*in bekannt gegebenen Daten werden nach den Bestimmungen des Datenschutzgesetzes in seiner jeweils gültigen Fassung streng vertraulich behandelt, es sei denn, es besteht eine gesetzliche und rechtliche Notwendigkeit, Rechte oder Eigentum von ZARA zu verteidigen oder die Interessen der anderen Nutzer zu schützen.

      