section#home
  #preload
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: white
    display: flex
    align-items: center
    justify-content: center
    opacity: 1
    transition: opacity 500ms ease-in-out
    pointer-events: none
    .spinner
      background:
        image: url('../img/spinner.svg')
        repeat: no-repeat
        size: cover
      width: 40px
      height: 40px
    &.loaded
      opacity: 0
  height: 140vh
  padding: 0
  background:
    image: url('../img/back.jpg')
    repeat: no-repeat
    size: cover
    attachment: fixed
  .mobile-menu-button
    display: none
  .mobile-menu-container
    display: none
  .header
    padding: 4rem 3rem
    color: #333
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
      
    .logo
      margin-right: 1rem
      h1
        margin: 0
        line-height: 1
        font:
          size: 1.4rem
          weight: 400
    .menu-container
      display: flex
      flex-direction: row
      align-items: baseline
      font-family: Montserrat, sans-serif
      a

        margin-left: 1.1rem
        &:first-child
          margin-left: 0
        color: #333
        text-decoration: none
        font-weight: 100
        &.participate
          padding: 0 .5rem
          border: 1px solid #333
          border-radius: 10px
        &:hover
          opacity: .8
      .language-container
        margin-left: 1rem
        font-size: .8rem
        display: flex
        justify-content: center
        a
          margin-left: 0
          color: #777
          &.active
            color: #111
            font-weight: bold
        span
          color: #777

  @media(max-width: 800px)
    padding: 0
    .header
      padding: 4rem 0rem 4rem 0
      flex-direction: column
      align-items: center
      display: flex
      .logo h1
        margin-left: 2rem
        font-size: 1.6rem
      .menu-container
        display: none
    .mobile-menu-button
      display: block
      position: absolute
      font-size: 2rem
      top: 4rem
      left: 3rem
    .mobile-menu-container
      display: flex
      flex-direction: column
      width: 100vw
      position: fixed
      height: 100vh
      top: 0
      left: 0
      padding: 4rem
      background: #fff
      // box-shadow: 4px 0 10px rgba(0,0,0,.3)
      transform: translateX(-110%)
      transition: transform 300ms ease-in-out
      z-index: 1
      &.open
        transform: translateX(0)
      a
        margin-bottom: 1rem
        color: #333
        text-decoration: none
        font:
          size: 1.7rem
          weight: 100
        &:first-child
          margin-bottom: 3rem
        &.participate
          padding: .1rem .8rem
          border: 1px solid #333
          border-radius: 10px
          background: #eee
          text-align: center
      .language-container 
        margin-bottom: 2rem
        a
          font-size: 1.5rem
          color: #777
          &:first-child
            margin-right: 1rem
          &:last-child
            margin-left: 1rem
          &.active
            color: #111
            font-weight: bold
        span
          font-size: 1.5rem
          color: #777
  .quote-container
    width: 60vw
    margin: 0 auto
    padding-top: 3rem
    text-align: left
    
    .quote
      display: flex
      flex-direction: column
      font-family: 'Montserrat', sans-serif
      span
        font:
          size: 1.8rem
          weight: 100
        margin: 0
        line-height: 1
        color: #333
        &.author
          width: 100%
          font-size: 1.2rem
          text-align: right
          font-style: italic
    @media(max-width: 800px)
      text-align: center
      width: 100vw
      padding: 3rem 0rem 0
      .quote span
        font-size: 1.6rem
        @media(max-width: 321px)
          font-size: 1.2rem

  .bottom-gradient
    position: absolute
    top: calc(140vh - 100px)
    width: 100vw
    height: 100px
    background-image: linear-gradient(to bottom, transparent, white) 